body {
  background: rgb(0, 0, 0);
  max-width: 1800px;
}

.heder {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heder img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 150px;
}

.heder a {
  text-decoration: none;
  color: rgb(73, 72, 72);
  font-size: 30px;
  font-weight: 800;
}

.heder a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.9s all ease;
  color: #ffffff;
}

.App {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.pizzaİMG {
  width: 300px;


}

.secondDiv {
  flex-wrap: wrap;
  display: flex;
}

.pizzaDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  margin-left: 50px;

}

p {
  font-size: 20px;
  font-weight: 700;
}

.pizzaDiv2 {
  border: 2px solid rgb(234, 117, 117);
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  height: 550px;

}

.pizzaDiv2:hover {
  box-shadow: 20px 20px 90px 5px rgb(192, 21, 49) inset;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.pizzaDiv2 p {
  padding-left: 15px;
  justify-content: center;
}

p {
  color: rgb(165, 42, 42);
  display: flex;
  flex-wrap: wrap;
}

.asideDiv {

  border: 10px solid rgb(35, 17, 17);
  border-radius: 10px;
  height: 500px;
  width: 450px;
  overflow-y: scroll;

}

.searchİnput {
  position: absolute;
  left: 50px;
  top: 190px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.asideImg {
  width: 50px;
}

.btn {
  color: #ff0072;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;

}

.btn:hover {
  color: #fff;
}

.btn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 30px;
  font-weight: bold;
  padding: 14px 0px;
  border-radius: 10px;
  position: relative;
}

.btn:before {
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff0072;
  z-index: -2;
  border-radius: 10px;


}

.btn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.delBtn {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  margin-left: 10px;
}

.total {
  margin-left: 40px;
}